<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".letter.LetterActivity"
            android:exported="false" />
        <activity
            android:name=".number.NumberActivity"
            android:exported="false" />
        <activity
            android:name=".bordgame.BoardGameActivity"
            android:exported="false" />
        <activity
            android:name=".screen.StoryActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.selecter.SelectScreen"
            android:exported="false" />
        <activity
            android:name=".screen.HomeActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".quiz.test.ArtHardActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.test.ArtMediumActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.test.ArtNormalActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.test.EnvHardActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.test.EnvMediumActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.test.GkHardActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.test.GkMediumActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.test.EnglishHardActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.test.EnglishMediumActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.test.EnvNormalActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.test.GkNormalActivity"
            android:exported="false" />
        <activity
            android:name=".screen.ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.test.EnglishNormalActivity"
            android:exported="false" />
        <activity
            android:name=".screen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>